@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

:root {
    --first-color: #F3F3F3;
    --second-color: #D01418;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--first-color);
}

a i {
    color: var(--second-color);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    background-color: #222222;
    align-items: center;
}

header div {
    display: flex;
}

header div h1 {
    color: var(--first-color);
    font-size: 25px;
    margin-left: 20px;
    font-weight: 700;
}

header div span {
    color: var(--second-color);
    font-weight: 400;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 635px;
}

header nav ul li {
    color: var(--first-color);
    font-weight: 700;
    margin-right: 10px;
    font-style: normal;
}

header nav ul li:nth-child(5) {
    margin-left: 46px;
}